

  <script src="{{ ASSETS_ROOT }}/js/core/jquery.min.js"></script>
  <script src="{{ ASSETS_ROOT }}/js/core/popper.min.js"></script>
  <script src="{{ ASSETS_ROOT }}/js/core/bootstrap.min.js"></script>
  <script src="{{ ASSETS_ROOT }}/js/plugins/perfect-scrollbar.jquery.min.js"></script>

  <script src="{{ ASSETS_ROOT }}/js/plugins/chartjs.min.js"></script>

  <script src="{{ ASSETS_ROOT }}/js/plugins/bootstrap-notify.js"></script>

  <script src="{{ ASSETS_ROOT }}/js/black-dashboard.min.js?v=1.0.0"></script>
  <script src="{{ ASSETS_ROOT }}/demo/demo.js"></script>
  